.timer {
  padding: 70px 0;
  border: 3px;
  text-align: center;
  font-size: 150px;
  color: #e8e6e3;
}

.button {
  padding: 10px 80px;
  display: grid;
  color:black;
}

.text {
  font-family: 'Lato';
  font-size: 20px;
  color: #e8e6e3;
  text-align: center;
  font-weight: bold;
}