.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-face-lo {
  font-family: "Lato";
}

.spotify {
  position: absolute;
  box-sizing: border-box;
  left: 0%;
  top: 85%;
  padding-left: 5rem;
  padding-right: 90rem;

}